[submodule "agent_inpainting"]
	path = agent_inpainting
	url = https://gitlab.pearl.informatik.tu-darmstadt.de/research/perception/agent_inpainting.git
[submodule "MI-GAN"]
	path = MI-GAN
	url = https://gitlab.pearl.informatik.tu-darmstadt.de/research/perception/mi-gan.git
[submodule "VISOR-VIS_Mod"]
	path = VISOR-VIS_Mod
	url = https://gitlab.pearl.informatik.tu-darmstadt.de/research/perception/VISOR-VIS_Mod.git
[submodule "XMem_Batch"]
	path = XMem_Batch
	url = https://gitlab.pearl.informatik.tu-darmstadt.de/research/perception/XMem_Batch.git
