/dataset
affordance_extraction/download_video.bash
*.pth
/models/model/wandb
/models/model/real_life_examples
/models/LISA_modified/runs
/models/LISA_modified/imgs
/models/LISA_modified/vis_output
/models/LISA_modified/wandb
/models/LISA_modified/weights
/temp_helper_scripts
/temp_weights
/models/model/checkpoint_bimanual
/models/model/chrome_trace
/models/model/ckpts
/models/model/examples_outputs
/models/model/pretrained
/models/model/tmp_logging
/hai_cluster
