[submodule "2HANDS/modules/VISOR-VIS_Mod"]
	path = 2HANDS/modules/VISOR-VIS_Mod
	url = https://gitlab.pearl.informatik.tu-darmstadt.de/research/perception/VISOR-VIS_Mod.git
[submodule "2HANDS/modules/XMem_Batch"]
	path = 2HANDS/modules/XMem_Batch
	url = https://gitlab.pearl.informatik.tu-darmstadt.de/research/perception/XMem_Batch.git
[submodule "2HANDS/modules/agent_inpainting"]
	path = 2HANDS/modules/agent_inpainting
	url = https://gitlab.pearl.informatik.tu-darmstadt.de/research/perception/agent_inpainting.git
[submodule "2HANDS/modules/sam2"]
	path = 2HANDS/modules/sam2
	url = https://gitlab.pearl.informatik.tu-darmstadt.de/research/perception/sam2.git
